{% extends 'base.html' %}

{% block content %}
    <div>
        <h4>Организация</h4>
        <p><b>{{ counterparty.name }}</b></p>
        <p>{{ counterparty.full_name }}</p>
        <h4>Телефон</h4>
        <p>{{ counterparty.phone }}</p>
        <p>{{ counterparty.person }}</p>
    </div>
    <p style="margin-top: 2em;"><a class="btn btn-primary" href="{% url 'counterparty_list_all' %}">Все контрагенты</a></p>

{% endblock content %}