/* static/css/base.css */
body {
    margin: 20px;
}

.logo {
    color: #9400D3;
}

.tags {
    font-size: 0.85em;
    font-style: italic;
    line-height: 1em;
    color: #808080;
}

.nav {
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
    padding-left: 0;
}

.nav li {
    display: inline-block;
    margin-left: 5px;
}

.nav a {
    color: white;
    background-color: #13a4a4;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.nav a:hover {
    background-color: #13f4f4;
}

.pagination {
    margin-top: 1em;
}

#todolist .complete {
    color: green;
}

#todolist .active {
    text-decoration: none;
}

#todolist .irrelevant {
    text-decoration: line-through;
}

#todolist .deffered {
    color: gray;
}

#todolist .expired {
    color: red;
}
